In [12]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
# Ajustar la configuración para mostrar todas las columnas
pd.set_option('display.max_columns', None)

In [15]:
df = pd.read_csv('supermarket_sales.csv', sep=';')
# Convertir la columna 'Total' a numérica
df['Total'] = df['Total'].str.replace('.', '').str.replace(',', '.').astype(float)
df.drop(columns=['Invoice ID','Time'] , inplace=True)
df

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Payment,cogs,gross margin percentage,gross income,Rating
0,A,Yangon,Member,Female,Health and beauty,74.69,7,261.415,5489715.0,01/05/2019,Ewallet,522.83,4.761.904.762,261.415,9.1
1,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.820,8022.0,03/08/2019,Cash,76.40,4.761.904.762,3.820,9.6
2,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,162.155,3405255.0,03/03/2019,Credit card,324.31,4.761.904.762,162.155,7.4
3,A,Yangon,Member,Male,Health and beauty,58.22,8,23.288,489048.0,1/27/2019,Ewallet,465.76,4.761.904.762,23.288,8.4
4,A,Yangon,Normal,Male,Sports and travel,86.31,7,302.085,6343785.0,02/08/2019,Ewallet,604.17,4.761.904.762,302.085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,20.175,423675.0,1/29/2019,Ewallet,40.35,4.761.904.762,20.175,6.2
996,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.690,102249.0,03/02/2019,Ewallet,973.80,4.761.904.762,48.690,4.4
997,A,Yangon,Member,Male,Food and beverages,31.84,1,1.592,33432.0,02/09/2019,Cash,31.84,4.761.904.762,1.592,7.7
998,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.291,69111.0,2/22/2019,Cash,65.82,4.761.904.762,3.291,4.1
999,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.919,649299.0,2/18/2019,Cash,618.38,4.761.904.762,30.919,6.6